# C#
bin/
obj/
*.user
*.suo
*.sln.docstates

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# C/C++
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dll

# IDE
.vs/
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
